body {
  padding: 1em;
  background-color: #e5e9ff;
}

.list {
  display: inline;
  margin-right: 1em;
}

.a {
  margin-right: 0.5em;
  text-decoration: none;
}

.profilePic {
  width: 50%;
  height: auto;
}

.casinoPic {
  display: none;
}

.screenshot {
  width: 80%;
  height: auto;
}

@media only screen and (min-width: 768px) {
  .profilePic {
    width: 40%;
    height: auto;
  }

  .casinoPic {
    display: block;
    max-width: 40em;
  }

  .block3 {
    display: flex;
    justify-content: flex-start;
  }

  .screenshot {
    width: 80%;
    height: auto;
  }
}

@media only screen and (min-width: 1200px) {
  .h1 {
    font-size: x-large;
  }

  .profilePic {
    width: 20%;
    height: auto;
  }
}
