body {
  margin: 1em;
}

.header {
  font-family: 'Raleway';
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects {
  display: flex;
  flex-direction: column;
}

.pic-size {
  max-width: 200px;
  max-height: 300px;
}
.img-size {
  max-height: 400px;
  width: auto;
}

.personalInfo {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .header {
    font-size: 30px;
  }
  .pic-size {
    max-width: 500px;
  }
}

@media only screen and (min-width: 1200px) {
  .header {
    font-size: 44px;
  }
  .pic-size {
    max-width: 700px;
  }
}
